**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/[Bb]uild
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/logs
**/tools
**/wwwroot
**/coverage
**/*.[Dd]evelopment.json
**/*.[Ss]ecrets.json
**/*.*[Tt]ests
**/*.md
**/*-docker.sh
**/LICENSE
**/.github
**/kubernetes
